body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  --cp-header-height-desktop: 100px;
  --cp-header-height-mobile: 40px;
  --cp-color-dark: #3D3D3D;
  --cp-color-brand-primary: #4C6B68;
  --cp-color-brand-primary-light: #d6ebe3;
  --cp-color-subtitles: rgb(95, 95, 95);
  --cp-font-family: font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

input {
  font-family: var(--cp-font-family);
}

/* UTILITY */
.common-outer-width {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 32px;
}

/* MAIN APP */
.app-loader-out {
  position: relative;
}

.app-loader-in {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-load-welcome {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 0px 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  gap: 12px;
}

.app-load-welcome h1 {
  font-size: 42px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  line-height: 1.1;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  flex-direction: column;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--cp-color-dark);
}

.brand div:last-of-type {
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--cp-color-brand-primary);
}

/* LANDING */
.landing {
  width: 100%;
}

.landing-hero-outer {
  background: linear-gradient(to bottom right, rgb(229, 229, 229), rgb(249, 249, 249));
  min-height: 100vh;
  padding-bottom: 180px;
}

.landing h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: var(--cp-color-dark);
  margin-top: 2vh;
  margin-bottom: 0;
  line-height: 1.2;
}

.landing h1 span {
  color: var(--cp-color-brand-primary)
}

.landing-hero-inner p {
  color: rgb(83, 83, 83);
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-top: 32px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 12px;
  line-height: 1.8;
}

.landing-hero-cta {
  margin: 32px auto;
  background-color: var(--cp-color-brand-primary);
  color: white;
  width: 240px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.1s;
}

.landing-hero-cta:hover {
  gap: 12px;
}

.landing-hero-image {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}

.landing-hero-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.landing-section {
  width: 100%;
  min-height: 75vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 32px;
}

.landing-benefits{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
  box-sizing: border-box;
}

.landing-section-image {
  max-width: 600px;
  min-width: 600px;
}

.landing-section-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.landing-section h2 {
  font-size: 32px;
  color: var(--cp-color-brand-primary);
  margin: 0;
  margin-bottom: 40px;
}

.landing-section p {
  color: var(--cp-color-dark);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.landing-pricing h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: var(--cp-color-dark);
  margin-top: 2vh;
  margin-bottom: 0;
  line-height: 1.2;
}

.landing-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.landing-plans-prices {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-plan {
  padding: 24px;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.pricing-plan.featured {
  border: 2px solid var(--cp-color-brand-primary);
}

.pricing-plan-badge-featured {
  position: absolute;
  background-color: var(--cp-color-brand-primary-light);
  left: calc(50% - 62px);
  border-radius: 4px;
  width: 120px;
  top: -12px;
  color: var(--cp-color-brand-primary);
  font-weight: 800;
  border: 2px solid var(--cp-color-brand-primary);
}

.pricing-plan-header {
  margin-bottom: 16px;
}

.pricing-plan-name {
  font-size: 24px;
  font-weight: 800;
  color: var(--cp-color-brand-primary);
}

.pricing-plan-subtitle {
  font-size: 14px;
  margin-top: 12px;
  color: var(--cp-color-subtitles);
  height: 42px;
}

.pricing-plan-cost {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 16px;
  margin-top: 20px;
}

.pricing-plan-cost-amount {
  font-size: 36px;
  font-weight: bold;
  color: var(--cp-color-dark);
}

.pricing-plan-cost-period {
  font-size: 16px;
  color: var(--cp-color-subtitles);
}

.pricing-plan-description {
  font-size: 14px;
  color: var(--cp-color-subtitles);
  font-weight: 600;
  border-bottom: 1px solid var(--cp-color-subtitles);
  padding-bottom: 8px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.pricing-plan-benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  text-align: left;
}

.pricing-plan-benefits span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--cp-color-dark);
}

.pricing-plan-benefits span svg {
  color: var(--cp-color-brand-primary);
}

.pricing-plan-cta {
  background-color: var(--cp-color-brand-primary);
  color: white;
  margin-top: 20px;
  padding: 18px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.faq-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: var(--cp-color-dark);
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 0;
  color: var(--cp-color-dark);
}

.faq-answer.expanded {
  max-height: 500px; /* Adjust based on your content */
  padding: 10px 0;
}

.faq-answer span {
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 800px) {
  .landing h1 {
    font-size: 32px;
  }

  .landing-hero-inner p {
    font-size: 16px;
  }

  .landing-how-it-works {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  .landing-section {
    flex-direction: column;
    align-items: center;
  }

  .landing-section-image {
    order: 2;
  }
}

/* HEADER */
.header-outer {
  height: var(--cp-header-height-desktop);
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.header-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.header-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section:first-of-type {
  flex-grow: unset;
  flex-basis: 20%;
  justify-content: flex-start;
}

.header-section:last-of-type {
  flex-grow: unset;
  flex-basis: 20%;
  justify-content: flex-end;
}

.header-search {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.header-search svg {
  position: absolute;
  left: 16px;
  top: 15px;
  color: var(--cp-color-dark);
}

.header-search-button {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  padding-left: 48px;
  border-radius: 48px;
  border: none;
  border: 1px solid rgb(175, 175, 175);
  font-size: 14px;
  color: var(--cp-color-dark);
  font-weight: 600;
}

/* FOOTER */
footer {
  background-color: var(--cp-color-dark);
  color: white;
  padding: 40px 0;
}

.footer-content {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 32px;
}

.footer-section.about {
  max-width: 600px;
}

.footer-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.6;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links li {
  margin-bottom: 10px;
  color: var(--cp-color-brand-primary-light);
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  text-align: right;
}

.footer-section.links li:hover {
  text-decoration: underline;
}

.footer-section.links a {
  color: var(--cp-color-brand-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-section.links a:hover {
  color: var(--cp-color-brand-primary);
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section.links li {
    text-align: left;
  }
}

/* LIBRARY */
.library {
  margin-top: 48px;
}

.library h1 {
  font-size: 32px;
  margin: 0;
  color: var(--cp-color-dark);
}

.library-empty {
  width: 100%;
  margin-top: 200px;
}

.library-empty input {
  width: 100%;
  text-align: center;
}

.library-empty p {
  font-size: 18px;
  text-align: center;
  color: var(--cp-color-dark);
}

.library-empty-hero {
  font-size: 32px;
  text-align: center;
  font-weight: 800;
  color: var(--cp-color-brand-primary);
}

.library-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 5vh;
}

.library-item {
  width: 100%;
  border: 1.5px solid rgb(218, 218, 218);
  border-radius: 20px;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.library-item-thumbnail {
  height: 100px;
}

.library-item-thumbnail img {
  height: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.library-item-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library-item-information h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.library-item-subtitles {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--cp-color-subtitles);
}

.library-items.grid .library-item-subtitles {
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  font-size: 14px;
  margin-top: 4px;
}

.library-items.grid .library-item-subtitles span:last-of-type {
  display: none;
}

.library-item-sentiment{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: var(--cp-color-dark);
}

.library-item-timestamp {
  font-size: 12px;
  font-weight: 500;
  color: var(--cp-color-subtitles);
}

.library-item-badge {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: rgba(22, 80, 150, 0.578);
  color: rgb(21, 51, 83);
  align-self: flex-start;
}


.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.view-toggle button {
  padding: 8px;
  border: none;
  color: var(--cp-color-brand-primary);
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
}

.view-toggle button.selected,
.view-toggle button.selected:hover {
  background-color: var(--cp-color-brand-primary);
  color: white;
}

.view-toggle button:hover {
  background-color: var(--cp-color-brand-primary-light);
  color: var(--cp-color-brand-primary);
} 

.view-toggle button svg {
  font-size: 16px;
}

.library-items.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.library-item.grid {
  display: flex;
  flex-basis: 24%;
  min-width: 240px;
  flex-direction: column;
}

.library-item.grid .library-item-thumbnail {
  width: 100%;
  height: unset;
}

.library-item-thumbnail img {
  width: 320px;
  max-width: 100%;
}

.library-item.list .library-item-thumbnail {
  height: 100px;
}

.library-item.list .library-item-thumbnail img {
  width: unset;
  height: 100px;
}

.library-item-information h2 {
  font-size: 16px;
}

/* PROFILES */
.profile-picture {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: var(--cp-color-brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.profile-picture svg {
  color: white;
}

/* VIDEO PAGE */
.video-breadcrumb {
  display: flex;
  color: var(--cp-color-brand-primary);
  font-size: 14px;
  align-items: center;
  gap: 6px;
}

.video-breadcrumb p {
  margin: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.video-breadcrumb p:hover {
  text-decoration: underline;
}

.video-page {
  margin-bottom: 10vh;
}

.video-page h2 {
  font-size: 32px;
  margin: 0;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--cp-color-dark);
}

.video-page h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--cp-color-dark);
  font-weight: 800;
  margin: 0;
  border-bottom: 1px solid var(--cp-color-brand-primary);
  padding-bottom: 4px;
}

.video-primary-information-panels {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
  justify-content: flex-start;
}

.video-primary-information-panel-overview {
  flex-grow: 1;
}

.video-primary-informations {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  border-radius: 12px;
  padding: 16px 32px;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: var(--cp-color-brand-primary);
}

.video-primary-information-panel-thumbnail img {
  border-radius: 12px;
  cursor: pointer;
}

.video-primary-data-points {
  display: flex;
  align-items: flex-start;
}

.video-primary-data-points p {
  width: 100px;
  min-width: 100px;
  margin: 0;
  font-size: 12px;
  color: rgb(222, 222, 222);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.video-primary-data-points span {
  font-size: 14px;
  color: rgb(246, 246, 246);
  font-weight: 600;
}

.video-primary-themes {
  margin-top: 12px;
}

.video-primary-themes p {
  margin: 0;
  color: var(--cp-color-brand-primary);
  font-size: 14px;
  font-weight: 800;
}

.video-primary-themes-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  flex-wrap: wrap;
}

.video-primary-themes-list span {
  color: var(--cp-color-brand-primary);
  background-color: var(--cp-color-brand-primary-light);
  padding: 4px 8px;
  font-size: 13px;
}

.video-fold-panels {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
  margin-top: 20px;
}

.video-fold-panel-primary {
  flex-basis: 60%;
}

.video-fold-panel-secondary {
  flex-basis: 40%;
}

.video-fold-panel-primary p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--cp-color-dark);
}

.video-featured-comments div {
  font-size: 16px;
  font-weight: 800;
}

.video-featured-comments p {
  background-color: var(--cp-color-brand-primary-light);
  color: var(--cp-color-brand-primary);
  padding: 20px;
  border-radius: 12px;
  line-height: 1.333;
}

.video-keywords-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.video-keywords-list span {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-top: 8px;
  padding-bottom: 8px;
}

.video-analysis-incomplete {
  color: rgb(246, 246, 246);
  background-color: rgba(22, 80, 150, 0.578);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  .video-primary-information-panels {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }
  .video-fold-panels {
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
  }
}

/* MODAL */
.modal-out {
  position: relative;
}

.modal-in {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  background-color: #20202093;
}

.modal {
  width: 95%;
  margin-top: 20vh;
  padding: 32px;
  max-width: 800px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(244, 244, 244);
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-new-job {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.modal-new-job h2 {
  text-align: center;
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  margin-top: 20px;
  color: var(--cp-color-dark);
}

.modal-new-job p {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: rgb(117, 117, 117);
}

.modal-new-job input,
.library-empty input {
  background-color: transparent;
  border: none;
  border: 1px solid var(--cp-color-brand-primary);
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  border-radius: 6px;
}

.modal-new-job .button-primary {
  background-color: var(--cp-color-brand-primary);
  border: 1px solid var(--cp-color-brand-primary);
  color: white;
  text-align: center;
  padding: 18px 20px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-new-job .button-secondary {
  color: var(--cp-color-brand-primary);
  border: 1px solid var(--cp-color-brand-primary);
  background-color: white;
  text-align: center;
  padding: 4px 8px;
  font-weight: 500;
  width: 120px;
  margin: 0px auto;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-new-job .image-preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  border-radius: 12px;
  padding: 32px;
  padding-bottom: 14px;
}

.modal-new-job .image-preview img {
  width: 320px;
  min-height: 180px;
}

.modal-new-job .preview-title {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: var(--cp-color-dark);
}

.modal-new-job .preview-channel {
  font-size: 14px;
  color: grey;
}

/* LOADERS */
.loader {
  height: 4px;
  width: 100%;
  --c:no-repeat linear-gradient(var(--cp-color-brand-primary) 0 0);
  background: var(--c),var(--c), #a8d1cd;
  background-size: 60% 100%;
  animation: l16 2s infinite;
}

@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}


.loader-button {
  color: var(--cp-color-brand-primary);
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}